*
!scripts
!scripts/*
!scripts/common
!scripts/common/*
scripts/.snakemake*
!Snakefile
!config.yaml
!samples.tsv
!resources
!resources/*
!envs
!envs/*
!environment.yaml
!LICENSE
!README.md
!rules
!rules/*
!.gitignore
!.gitattributes
!.editorconfig
!.travis.yml
!.test
!samples.tsv
!units.tsv
!schemas
!schemas/*
!.test/data
!.test/samples.tsv
!.test/units.tsv
!.test/config.yaml
!report
!report/*.rst
!mygene.py
!samtoolsindex
!createsequencedict
!fixname.py
!indexbamscript
!faidxscript
!bwaindexscript
!gzipscript
!gvcfscript
!indexfeaturefilescript
!fixchr.py
!picardCreateSequenceDictionary
!fixbamheader
!validatescript
!removeDuplicatesscript
!removeheader
!headercheck.py
!replacesamheader
!checkline.py
!changechrname.sh
